// pds_colors.scss

// PDS Color Variables
$pds-brand-color: #373151;
$pds-grey-2-color: #4D4D4D;
$pds-grey-1-color: #F4F1F1;
$pds-alert-color: #A72326;
$pds-background-color: #FFFFFF;
$pds-party-1-border-color:#d50200;
$pds-party-2-border-color:#2763ba;