// pds_typography.scss

// PDS Typography Variables
$pds-font-stack: Veranda, Arial, sans-serif;

// PDS Primary Typography
$pds-primary-font-size-sm: 26px;
$pds-primary-line-height-sm: 1.25rem;
$pds-primary-font-size-lg: 30px;
$pds-primary-line-height-lg: 1.25rem;

// PDS Secondary Typography
$pds-secondary-font-size-sm: 20px;
$pds-secondary-line-height-sm: 1.35rem;
$pds-secondary-font-size-lg: 22px;
$pds-secondary-line-height-lg: 1.35rem;

// PDS Tertiary Typography
$pds-tertiary-font-size-sm: 1.5rem;
$pds-tertiary-line-height-sm: 18px;
$pds-tertiary-font-size-lg: 18px;
$pds-tertiary-line-height-lg: 1.5rem;